body {
    background-color: rgb(247, 247, 226);
    color: rgb(43, 8, 8);
}
.container {
    margin: 50px 240px;
}
.logo {
    font-size: 50px;
    color: rgb(0, 87, 68);
    margin-bottom: 50px;
}
.balance {
}
.boxes {
    display: flex;
    flex-direction: row;
    position: relative;
}
.boxes::before {
    content: "";
    border: 1px solid rgb(43, 8, 8);
    width: 80%;
    height: 0px;
    z-index: 2;
    position: absolute;
    top: 105px;
    left: 80px;

}
.box {
    width: 600px;
    min-height: 500px;
    border: 1px solid rgb(43, 8, 8);
    padding: 15px;
}
.title {
    font-weight: 600;
    margin-bottom: 15px;
}
ul {
    margin-top: 15px;
    list-style-type: disc;
}



.sum {
    position: absolute;
    bottom: 15px;
}